* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#form-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="checkbox"] {
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}



button:hover {
    background-color: #45a049;
}

#book-display {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    height: 400px;
    width: 800px;
    margin: 10px auto;
    border: 1px solid #45a049;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-card p {
    margin: 5px 0;
}

.book-card button {
    background-color: #f44336;
    margin-top: 10px;
}

.book-card button.toggle-read-btn {
    background-color: #008CBA;
}

.book-card button:hover {
    opacity: 0.8;
}